<% layout('layouts/boilerplate') %>
    <h1 class="ms-2">Hi and welcome to Coast Busters</h1>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Warning</strong> Please note that this website is still under construction. Not all features
        have
        been implemented yet!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>

    <h3>Kindly use the following to login:</h3>
    <table class="table ms-4">
        <tr class="row">
            <th class="col">Login</th>
            <th class="col">Password</th>
        </tr>
        <tr class="row">
            <td class="col">80</td>
            <td class="col">test</td>
        </tr>
    </table>
    <div class="container ms-4">

        <h4>You can access the Cars tab to check what car models we offer</h4>
        <h4>You can search for a specific car also ex:search bmw</h4>
        <h4>You can access the users tab to see all users and their passwords xD</h4>
        <h4>You can access the your profile in the myProfile tab after signing in (sign in stays for 20min only)</h4>
    </div>