<% layout('layouts/boilerplate') %>
    <h1 class="ms-2">Hi and welcome to Coast Busters</h1>


    <h3>Kindly use the following to login:</h3>
    <table class="table ms-2 ms-md-4">
        <tr class="row">
            <th class="col-4">Username</th>
            <th class="col-4">Password</th>
        </tr>
        <tr class="row">
            <td class="col-4">rayghaddad</td>
            <td class="col-4">test</td>
        </tr>
    </table>
    </div>
    <div class=" ms-md-4">
        <h6>How to use:</h6>
        <ol>
        <li>You can access the Cars tab to check what car models we offer</li>
        <li>You can search for a specific car also ex:search m4</li>
        <li>You can then rent cars (be carefull not be surpass your limit(depends on account type on signup)) :)</li>
        <li>If you reached your limit you can always return an unused car</li>
        <li>As employee you can add new car models and new available cars for each model</li>
        <li>You can access the users tab to see all users and their passwords xD (as employee only)</li>
        <li>You can access the your profile in the myProfile tab after signing in</li>
        </ol>
    </div>