button{
    color:blue;
    transition: all 500ms ease-in;
    display:inline;
    margin: 20px
}
.done{
    color:red;
}
button:hover{
    transform: translateY(-5px);
}
img{
    width: 50%;
}
.button-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:50px;
    left:500px;
}

.carContainer{
    border:1px solid black;
    margin:0 1em;
    padding: 1em;
}