<% layout('layouts/boilerplate') %>
        <table class="table">
            <thead>
                <tr>
                    <th>Login ID</th>
                    <th>Person ID</th>
                    <th>isCustomer</th>
                    <th>Password</th>
                    <th>View User</th>

                </tr>
            </thead>
            <% for(let login of logins) {%>
                <tr>
                    <% const {loginID, personID, isCustomer, password}=login; %>
                        <% const info=[loginID, personID, isCustomer, password]; %>
                            <% for(let i of info) {%>

                                <td>
                                    <%=i %>
                                </td>
                                <% } %>
                                    <td><a class="btn btn-primary" href="/users/<%=personID  %> ">View User</a></td>
                </tr>
                <% } %>
        </table>