<% layout ('layouts/boilerplate')%>
<div class="tableContainer" style="overflow-x: scroll">
    <table class="table">
        <thead class="table-light">
            <tr>
                <td>Car ID</td>
                <td>Car Model ID</td>
                <td>Rented Date</td>
                <td>Needs Repair</td>
                <td>Color</td>
                <td>Condition</td>

            </tr>
        </thead>
        <tbody>
            <% for(let car of carsArray){ %>
                <tr>
                    <% const{CarID,CarModelID,RentedDate,NeedsRepair,Color,Condition}=car; %>
                        <% const info=[CarID,CarModelID,RentedDate,NeedsRepair,Color,Condition]; %>
                            <% for(let i of info){ %>
                                <td>
                                    <%=i %>
                                </td>
                                <% } %>
                                    <form action="/cars/<%= CarModelID%>">
                                        <td><button class="btn btn-primary">View Car Model</button></td>
                                    </form>
                                    <td><button class="btn btn-danger returnCarBtn" id=" <%=CarID %> ">Return</button>
                                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/mycars.js"></script>